$blue-overlay:#2f334eff;
$pink:#e84845ff;
$purple:#51354bff;
$light-blue-footer:#3b3d63ff;
$dark-blue-footer: #313455ff;
$icomoon-font-family: "code" !default;
$icomoon-font-path: "../fonts" !default;

$icon-code1: "\e900";


